body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 140%;
}

.mypic { 
  border-radius: 50%;
  vertical-align: middle;
  width: 300px;
  height: 300px;
}

.myskill {
  border-radius: 50%;
  vertical-align: middle;
  width: 500px;
  height: 300px;
}

.gif{
  width: 30%;
  /**float: left;
  margin-right: 30px;**/
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;/**1rm or 1rem = 16px**/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-weight: normal;
 /** line-height: 2;**/
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #F8E8EE 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}
/**************************RULES****************************/
/**In order to pick a particular Class , be need to ue a dot (.) before it**/

.top-container {
  background-color: #CAF7E3;
  position: relative;
  padding-top: 200px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row{
  margin: 100px auto 100px auto; /**Allignment: top, left, bottom, right**/
  /**text-align: left;**/
}

.CS {
  text-decoration:underline; 
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.buttom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {
  margin: auto;
}

.owner{
  font-size: small;
  padding: 20px 0;
}

.intro{
  width: 70%;
  margin: auto;
}

.contact{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 50%;
  color: #FFFFFF;
  font-family: 'montserrat';
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
